<%# <h1>Payments#checkout</h1>
<p>Find me in app/views/payments/checkout.html.erb</p> %>

<head>
    <meta charset="utf-8">
    <script src="https://js.braintreegateway.com/web/dropin/1.33.3/js/dropin.min.js"></script>
</head>
<body>

    <!-- Step one: add an empty container to your page -->
    <%= form_tag("/payments/nonce", method: "post", id: "payment-form") do %>
        <!-- Putting the empty container you plan to pass to
        `braintree.dropin.create` inside a form will make layout and flow
        easier to manage -->
        <div id="dropin-container"></div>
        <input id="submit-button" type="submit" value="Purchase"/>
        <input type="hidden" id="nonce" name="payment_method_nonce"/>
    <% end %>

    <script type="text/javascript">
        const form = document.getElementById('payment-form');

        // Step two: create a dropin instance using that container (or a string
        //   that functions as a query selector such as `#dropin-container`)

        braintree.dropin.create({
            container: document.getElementById('dropin-container'),
            // ...plus remaining configuration
            authorization: '<%= @client_token %>'
        }, (error, dropinInstance) => {

            form.addEventListener('submit', () => {
                event.preventDefault();

                // Use `dropinInstance` here
                // Methods documented at https://braintree.github.io/braintree-web-drop-in/docs/current/Dropin.html
                dropinInstance.requestPaymentMethod((error, payload) => {
                    if(error) console.log("ERROR: " + error);

                    // Step four: when the user is ready to complete their
                    //   transaction, use the dropinInstance to get a payment
                    //   method nonce for the user's selected payment method, then add
                    //   it to a the hidden field before submitting the complete form to
                    //   a server-side integration
                    document.getElementById('nonce').value = payload.nonce;
                    form.submit();
                });
            });
        });
    </script>
</body>
