<head>
    <meta charset="utf-8">
    <!-- Load the client component. -->
    <script src="https://js.braintreegateway.com/web/dropin/1.33.3/js/dropin.min.js"></script>
    <script src="https://js.braintreegateway.com/web/3.85.5/js/client.min.js"></script>
    <script src="https://js.braintreegateway.com/web/3.85.5/js/paypal-checkout.min.js"></script>
</head>
<body>

    <!-- Step one: add an empty container to your page -->
    <%= form_tag("/payments/nonce", method: "post", id: "payment-form") do %>
        <!-- Putting the empty container you plan to pass to
        `braintree.dropin.create` inside a form will make layout and flow
        easier to manage -->
        <div id="dropin-container"></div>
        <div id="paypal-button"></div>
        <input id="submit-button" type="submit" value="Purchase"/>
        <input type="hidden" id="nonce" name="payment_method_nonce"/>
        <input type="hidden" id="deviceData" name="device_data"/>
    <% end %>

    <script type="text/javascript">
        const form = document.getElementById('payment-form');

        // 3DSecure
        var threeDSecureParameters = {
            amount: '10.00',
            email: 'test@example.com',
            billingAddress: {
                givenName: 'Jill', // ASCII-printable characters required, else will throw a validation error
                surname: 'Doe', // ASCII-printable characters required, else will throw a validation error
                phoneNumber: '8101234567',
                streetAddress: '555 Smith St.',
                extendedAddress: '#5',
                locality: 'Oakland',
                region: 'CA',
                postalCode: '12345',
                countryCodeAlpha2: 'US'
            },
            additionalInformation: {
                workPhoneNumber: '8101234567',
                shippingGivenName: 'Jill',
                shippingSurname: 'Doe',
                shippingPhone: '8101234567',
                shippingAddress: {
                streetAddress: '555 Smith St.',
                extendedAddress: '#5',
                locality: 'Oakland',
                region: 'CA',
                postalCode: '12345',
                countryCodeAlpha2: 'US'
                }
            },
        };

        // Step two: create a dropin instance using that container (or a string
        //   that functions as a query selector such as `#dropin-container`)
        braintree.dropin.create({
            // ...plus remaining configuration
            authorization: '<%= @client_token %>',
            container: document.getElementById('dropin-container'),
            paypal: {
                flow: 'checkout',
                amount: '10.00',
                currency: 'EUR',
                buttonStyle: {
                    color: 'blue',
                    shape: 'rect',
                    size: 'medium'
                },
            },
            threeDSecure: true,
            dataCollector: true,
            locale: "en-GB"
            // translations: {
            //     expirationDateLabel: "Expiry Date"
            // }
        }, (error, dropinInstance) => {
            // Handle any errors that might've occurred when creating Drop-in
            if(error) {
                console.error(error);
                return;
            }

            form.addEventListener('submit', () => {
                event.preventDefault();

                // Use `dropinInstance` here
                // Methods documented at https://braintree.github.io/braintree-web-drop-in/docs/current/Dropin.html
                dropinInstance.requestPaymentMethod({
                    threeDSecure: threeDSecureParameters
                }, (error, payload) => {
                    // Handle errors in requesting payment method
                    if(error) {
                        console.error(error);
                        return;
                    }

                    // Step four: when the user is ready to complete their
                    //   transaction, use the dropinInstance to get a payment
                    //   method nonce for the user's selected payment method, then add
                    //   it to a the hidden field before submitting the complete form to
                    //   a server-side integration.
                    // The 3D Secure Authentication ID can be found
                    //  at payload.threeDSecureInfo.threeDSecureAuthenticationId

                    console.log(payload.nonce);
                    document.getElementById('nonce').value = payload.nonce;
                    document.getElementById('deviceData').value = payload.deviceData;
                    form.submit();
                });
            });
        });
    </script>
</body>
